[Unit]
Description=SMB Share for {{ item.share_name }}
ConditionPathExists={{ smb__mount_dir }}/{{ item.mount_point }}

[Automount]
Where={{ smb__mount_dir }}/{{ item.mount_point }}
TimeoutIdleSec={{ smb__automount_timeout }}

[Install]
WantedBy={{ mount_runlvl }}