difficulty={{ mc__option_difficulty }}
enforce-whitelist={{ mc__option_enforce_whitelist }}
gamemode={{ mc__option_gamemode }}
level-name={{ mc__option_world_name }}
max-players={{ mc__option_max_players }}
motd={{ mc__option_motd }}
online-mode={{ mc__option_online_mode }}
pvp={{ mc__option_pvp }}
server-ip={{ mc__option_server_ip }}
server-port={{ mc__option_server_port }}
white-list={{ mc__option_whitelist }}